misc/iof/gateway.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="provider_description">
      <xs:annotation>
         <xs:documentation>
            Internet Offer Format 3.0 (https://www.idosell.com/pl/shop/developers/formats/iof/internet-offer-format-iof).
            Describes the gateway.xml file.
            It is the main file needed to fetch all data relating to provider.
            It holds address, short name and URLs to other data files, such as full.xml, light.xml, categories.xml and sizes.xml. These files are required by the IOF 3.0 format.
         </xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:all>
            <xs:element maxOccurs="1" minOccurs="1" ref="meta"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="full"/>                              
            <xs:element maxOccurs="1" minOccurs="1" ref="light"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="categories"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="sizes"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="producers"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="units"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="parameters"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="stocks"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="series"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="warranties"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="preset"/>                         
         </xs:all>
         <xs:attribute name="file_format" type="xs:NMTOKEN" use="optional">
            <xs:annotation>
               <xs:documentation>Format: IOF</xs:documentation>
            </xs:annotation>
         </xs:attribute>             
         <xs:attribute name="version" type="xs:decimal" use="optional">
            <xs:annotation>
               <xs:documentation>IOF version: major.minor</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="generated" use="optional">
            <xs:annotation>
               <xs:documentation>Date generated: YYYY-MM-DD 00:00:00</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="([0-9]{4}[\-|\.][0-9]{2}[\-|\.][0-9]{2}[T| ]?[0-9]{2}:[0-9]{2}:[0-9]{2})((\+[0-9]{2}:[0-9]{2})|Z)?"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="generated_by" type="xs:string" use="optional">
            <xs:annotation>
               <xs:documentation>Generated by: information about the application from which the offer was generated</xs:documentation>
            </xs:annotation>
         </xs:attribute>         
      </xs:complexType>
   </xs:element>
   <xs:element name="meta">
      <xs:annotation>
         <xs:documentation xml:lang="en-GB">Metadata describing the provider.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:all>
            <xs:element maxOccurs="1" minOccurs="1" ref="long_name"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="short_name"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="showcase_image"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="email"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="tel"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="fax"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="www"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="address"/>
            <xs:element maxOccurs="1" minOccurs="1" ref="time"/>            
         </xs:all>
      </xs:complexType>
   </xs:element>
   <xs:element name="long_name" nillable="true">   
      <xs:annotation>
         <xs:documentation>Provider's long name. Only white-spaces can be used and a-z,A-Z,_,- range chars</xs:documentation>
      </xs:annotation>  
      <xs:simpleType>
         <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9_ \-]+"/>
         </xs:restriction>
      </xs:simpleType>                          
   </xs:element>  
   <xs:element name="short_name">
      <xs:annotation>
         <xs:documentation>Provider's short name. Only white-spaces can be used and a-z,A-Z,_,- range chars</xs:documentation>
      </xs:annotation>  
      <xs:simpleType>
         <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9_ \-]+"/>
         </xs:restriction>
      </xs:simpleType>   
   </xs:element>
   <xs:element name="showcase_image" nillable="true">
      <xs:complexType>
          <xs:attribute name="url" type="xs:anyURI" use="optional">
            <xs:annotation>
               <xs:documentation>URL to supplier's logo. Formats: JPG/JPEG, GIF, PNG</xs:documentation>
            </xs:annotation>
         </xs:attribute>
         <xs:attribute name="hash" type="xs:NMTOKEN" use="optional"/>
         <xs:attribute name="date_changed" use="optional">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="([0-9]{4}[\-|\.][0-9]{2}[\-|\.][0-9]{2}[T| ]?[0-9]{2}:[0-9]{2}:[0-9]{2})((\+[0-9]{2}:[0-9]{2})|Z)?"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element> 
   <xs:element name="email">
      <xs:annotation>
         <xs:documentation>Provider's adress emial</xs:documentation>
      </xs:annotation>       
      <xs:complexType mixed="true"/>          
   </xs:element>
   <xs:element name="tel" nillable="true">
      <xs:annotation>
         <xs:documentation>Provider's telephone number</xs:documentation>
      </xs:annotation>        
      <xs:complexType mixed="true"/>       
   </xs:element>   
   <xs:element name="fax" nillable="true">
      <xs:annotation>
         <xs:documentation>Provider's fax number</xs:documentation>
      </xs:annotation>        
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="www" nillable="true">
      <xs:annotation>
         <xs:documentation>Provider's WWW site</xs:documentation>
      </xs:annotation>       
      <xs:complexType mixed="true"/>
   </xs:element> 
   <xs:element name="address" nillable="true">
      <xs:annotation>
         <xs:documentation>Holds basic information about given provider's location.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
               <xs:element minOccurs="0" ref="street"/>
               <xs:element minOccurs="0" ref="zipcode"/>
               <xs:element minOccurs="0" ref="city"/>
               <xs:element minOccurs="0" ref="country"/>
               <xs:element minOccurs="0" ref="province"/>               
            </xs:choice>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="street" nillable="true">
      <xs:annotation>
         <xs:documentation>Provider's street</xs:documentation>
      </xs:annotation>         
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="zipcode" nillable="true">
      <xs:annotation>
         <xs:documentation>Provider's zip code</xs:documentation>
      </xs:annotation>         
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="city" nillable="true">
      <xs:annotation>
         <xs:documentation>Provider's city</xs:documentation>
      </xs:annotation>       
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="country" nillable="true">
      <xs:annotation>
         <xs:documentation>Provider's country</xs:documentation>
      </xs:annotation>       
      <xs:complexType mixed="true"/>
   </xs:element>
   <xs:element name="province" nillable="true">
      <xs:annotation>
         <xs:documentation>Provider's province</xs:documentation>
      </xs:annotation>       
      <xs:complexType mixed="true"/>
   </xs:element>   
   <xs:element name="time">
      <xs:complexType>
         <xs:annotation>
            <xs:documentation>Time period within offer is valid.</xs:documentation>
         </xs:annotation>
         <xs:sequence>
            <xs:element maxOccurs="2" minOccurs="2" name="offer" nillable="true">
               <xs:complexType mixed="true">
                  <xs:attribute name="created" use="optional">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:pattern value="([0-9]{4}[\-|\.][0-9]{2}[\-|\.][0-9]{2}[T| ]?[0-9]{2}:[0-9]{2}:[0-9]{2})((\+[0-9]{2}:[0-9]{2})|Z)?"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="expires" use="optional">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:pattern value="([0-9]{4}[\-|\.][0-9]{2}[\-|\.][0-9]{2}[T| ]?[0-9]{2}:[0-9]{2}:[0-9]{2})((\+[0-9]{2}:[0-9]{2})|Z)?"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:attribute>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element> 
   <xs:element name="full" nillable="true">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="changes"/>
         </xs:sequence>
         <xs:attribute name="url" type="xs:anyURI" use="required">
            <xs:annotation>
               <xs:documentation>URL: to the full.xml offer file.</xs:documentation>
            </xs:annotation> 
         </xs:attribute>                        
         <xs:attribute name="hash" type="xs:NMTOKEN" use="required">
            <xs:annotation>
               <xs:documentation>HASH: calculated MD5 value of the offer file</xs:documentation>
            </xs:annotation> 
         </xs:attribute>            
         <xs:attribute name="changed" use="optional">
            <xs:annotation>
               <xs:documentation>Last modifie: the date of the last modification of the offer file</xs:documentation>
            </xs:annotation>             
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="([0-9]{4}[\-|\.][0-9]{2}[\-|\.][0-9]{2}[T| ]?[0-9]{2}:[0-9]{2}:[0-9]{2})((\+[0-9]{2}:[0-9]{2})|Z)?"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element> 
   <xs:element name="changes" nillable="false">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="change"/>
         </xs:sequence>               
      </xs:complexType>
   </xs:element>
   <xs:element name="change" nillable="true">
      <xs:complexType>
         <xs:attribute name="url" type="xs:anyURI" use="required">
            <xs:annotation>
               <xs:documentation>URL: to the full.xml offer file.</xs:documentation>
            </xs:annotation> 
         </xs:attribute>                        
         <xs:attribute name="hash" type="xs:NMTOKEN" use="required">
            <xs:annotation>
               <xs:documentation>HASH: calculated MD5 value of the offer file</xs:documentation>
            </xs:annotation> 
         </xs:attribute>            
         <xs:attribute name="changed" use="optional">
            <xs:annotation>
               <xs:documentation>Last modifie: the date of the last modification of the offer file</xs:documentation>
            </xs:annotation>             
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="([0-9]{4}[\-|\.][0-9]{2}[\-|\.][0-9]{2}[T| ]?[0-9]{2}:[0-9]{2}:[0-9]{2})((\+[0-9]{2}:[0-9]{2})|Z)?"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="light" nillable="true">
      <xs:complexType>
         <xs:attribute name="url" type="xs:anyURI" use="required">
            <xs:annotation>
               <xs:documentation>URL: to the light.xml offer file.</xs:documentation>
            </xs:annotation> 
         </xs:attribute>                        
         <xs:attribute name="hash" type="xs:NMTOKEN" use="optional">
            <xs:annotation>
               <xs:documentation>HASH: calculated MD5 value of the offer file</xs:documentation>
            </xs:annotation> 
         </xs:attribute>            
         <xs:attribute name="changed" use="optional">
            <xs:annotation>
               <xs:documentation>Last modifie: the date of the last modification of the offer file</xs:documentation>
            </xs:annotation>             
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="([0-9]{4}[\-|\.][0-9]{2}[\-|\.][0-9]{2}[T| ]?[0-9]{2}:[0-9]{2}:[0-9]{2})((\+[0-9]{2}:[0-9]{2})|Z)?"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="categories">
      <xs:complexType>
         <xs:attribute name="url" type="xs:anyURI" use="required">
            <xs:annotation>
               <xs:documentation>URL: to the categories.xml offer file.</xs:documentation>
            </xs:annotation> 
         </xs:attribute>                        
         <xs:attribute name="hash" type="xs:NMTOKEN" use="required">
            <xs:annotation>
               <xs:documentation>HASH: calculated MD5 value of the offer file</xs:documentation>
            </xs:annotation> 
         </xs:attribute>            
         <xs:attribute name="changed" use="optional">
            <xs:annotation>
               <xs:documentation>Last modifie: the date of the last modification of the offer file</xs:documentation>
            </xs:annotation>             
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="([0-9]{4}[\-|\.][0-9]{2}[\-|\.][0-9]{2}[T| ]?[0-9]{2}:[0-9]{2}:[0-9]{2})((\+[0-9]{2}:[0-9]{2})|Z)?"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="sizes" nillable="true">
      <xs:complexType>
         <xs:attribute name="url" type="xs:anyURI" use="required">
            <xs:annotation>
               <xs:documentation>URL: to the sizes.xml offer file.</xs:documentation>
            </xs:annotation> 
         </xs:attribute>                        
         <xs:attribute name="hash" type="xs:NMTOKEN" use="required">
            <xs:annotation>
               <xs:documentation>HASH: calculated MD5 value of the offer file</xs:documentation>
            </xs:annotation> 
         </xs:attribute>            
         <xs:attribute name="changed" use="optional">
            <xs:annotation>
               <xs:documentation>Last modifie: the date of the last modification of the offer file</xs:documentation>
            </xs:annotation>             
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="([0-9]{4}[\-|\.][0-9]{2}[\-|\.][0-9]{2}[T| ]?[0-9]{2}:[0-9]{2}:[0-9]{2})((\+[0-9]{2}:[0-9]{2})|Z)?"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="producers" nillable="true">
      <xs:complexType>
         <xs:attribute name="url" type="xs:anyURI" use="required">
            <xs:annotation>
               <xs:documentation>URL: to the producers.xml offer file.</xs:documentation>
            </xs:annotation> 
         </xs:attribute>                        
         <xs:attribute name="hash" type="xs:NMTOKEN" use="required">
            <xs:annotation>
               <xs:documentation>HASH: calculated MD5 value of the offer file</xs:documentation>
            </xs:annotation> 
         </xs:attribute>            
         <xs:attribute name="changed" use="optional">
            <xs:annotation>
               <xs:documentation>Last modifie: the date of the last modification of the offer file</xs:documentation>
            </xs:annotation>             
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="([0-9]{4}[\-|\.][0-9]{2}[\-|\.][0-9]{2}[T| ]?[0-9]{2}:[0-9]{2}:[0-9]{2})((\+[0-9]{2}:[0-9]{2})|Z)?"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="units" nillable="false">
      <xs:complexType>
         <xs:attribute name="url" type="xs:anyURI" use="required">
            <xs:annotation>
               <xs:documentation>URL: to the units.xml offer file.</xs:documentation>
            </xs:annotation> 
         </xs:attribute>                        
         <xs:attribute name="hash" type="xs:NMTOKEN" use="required">
            <xs:annotation>
               <xs:documentation>HASH: calculated MD5 value of the offer file</xs:documentation>
            </xs:annotation> 
         </xs:attribute>            
         <xs:attribute name="changed" use="optional">
            <xs:annotation>
               <xs:documentation>Last modifie: the date of the last modification of the offer file</xs:documentation>
            </xs:annotation>             
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="([0-9]{4}[\-|\.][0-9]{2}[\-|\.][0-9]{2}[T| ]?[0-9]{2}:[0-9]{2}:[0-9]{2})((\+[0-9]{2}:[0-9]{2})|Z)?"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="parameters" nillable="false">
      <xs:complexType>
         <xs:attribute name="url" type="xs:anyURI" use="required">
            <xs:annotation>
               <xs:documentation>URL: to the parameters.xml offer file.</xs:documentation>
            </xs:annotation> 
         </xs:attribute>                        
         <xs:attribute name="hash" type="xs:NMTOKEN" use="required">
            <xs:annotation>
               <xs:documentation>HASH: calculated MD5 value of the offer file</xs:documentation>
            </xs:annotation> 
         </xs:attribute>            
         <xs:attribute name="changed" use="optional">
            <xs:annotation>
               <xs:documentation>Last modifie: the date of the last modification of the offer file</xs:documentation>
            </xs:annotation>             
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="([0-9]{4}[\-|\.][0-9]{2}[\-|\.][0-9]{2}[T| ]?[0-9]{2}:[0-9]{2}:[0-9]{2})((\+[0-9]{2}:[0-9]{2})|Z)?"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="stocks" nillable="false">
      <xs:complexType>
         <xs:attribute name="url" type="xs:anyURI" use="required">
            <xs:annotation>
               <xs:documentation>URL: to the stocks.xml offer file.</xs:documentation>
            </xs:annotation> 
         </xs:attribute>                        
         <xs:attribute name="hash" type="xs:NMTOKEN" use="required">
            <xs:annotation>
               <xs:documentation>HASH: calculated MD5 value of the offer file</xs:documentation>
            </xs:annotation> 
         </xs:attribute>            
         <xs:attribute name="changed" use="optional">
            <xs:annotation>
               <xs:documentation>Last modifie: the date of the last modification of the offer file</xs:documentation>
            </xs:annotation>             
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="([0-9]{4}[\-|\.][0-9]{2}[\-|\.][0-9]{2}[T| ]?[0-9]{2}:[0-9]{2}:[0-9]{2})((\+[0-9]{2}:[0-9]{2})|Z)?"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="series" nillable="false">
      <xs:complexType>
         <xs:attribute name="url" type="xs:anyURI" use="required">
            <xs:annotation>
               <xs:documentation>URL: to the series.xml offer file.</xs:documentation>
            </xs:annotation>             
         </xs:attribute>                        
         <xs:attribute name="hash" type="xs:NMTOKEN" use="required">
            <xs:annotation>
               <xs:documentation>HASH: calculated MD5 value of the offer file</xs:documentation>
            </xs:annotation> 
         </xs:attribute>            
         <xs:attribute name="changed" use="optional">
            <xs:annotation>
               <xs:documentation>Last modifie: the date of the last modification of the offer file</xs:documentation>
            </xs:annotation>             
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="([0-9]{4}[\-|\.][0-9]{2}[\-|\.][0-9]{2}[T| ]?[0-9]{2}:[0-9]{2}:[0-9]{2})((\+[0-9]{2}:[0-9]{2})|Z)?"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>
   <xs:element name="warranties" nillable="false">
      <xs:complexType>
         <xs:attribute name="url" type="xs:anyURI" use="required">
            <xs:annotation>
               <xs:documentation>URL: to the warranties.xml offer file.</xs:documentation>
            </xs:annotation> 
         </xs:attribute>                        
         <xs:attribute name="hash" type="xs:NMTOKEN" use="required">
            <xs:annotation>
               <xs:documentation>HASH: calculated MD5 value of the offer file</xs:documentation>
            </xs:annotation> 
         </xs:attribute>
         <xs:attribute name="changed" use="optional">
            <xs:annotation>
               <xs:documentation>Last modifie: the date of the last modification of the offer file</xs:documentation>
            </xs:annotation>             
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="([0-9]{4}[\-|\.][0-9]{2}[\-|\.][0-9]{2}[T| ]?[0-9]{2}:[0-9]{2}:[0-9]{2})((\+[0-9]{2}:[0-9]{2})|Z)?"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>                     
      </xs:complexType>
   </xs:element>
   <xs:element name="preset" nillable="false">
      <xs:complexType>
         <xs:attribute name="url" type="xs:anyURI" use="required">
            <xs:annotation>
               <xs:documentation>URL: to the preset.xml offer file. File generated by additional applications.</xs:documentation>
            </xs:annotation> 
         </xs:attribute>                        
         <xs:attribute name="hash" type="xs:NMTOKEN" use="required">
            <xs:annotation>
               <xs:documentation>HASH: calculated MD5 value of the offer file</xs:documentation>
            </xs:annotation> 
         </xs:attribute>            
         <xs:attribute name="changed" use="optional">
            <xs:annotation>
               <xs:documentation>Last modifie: the date of the last modification of the offer file</xs:documentation>
            </xs:annotation>             
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="([0-9]{4}[\-|\.][0-9]{2}[\-|\.][0-9]{2}[T| ]?[0-9]{2}:[0-9]{2}:[0-9]{2})((\+[0-9]{2}:[0-9]{2})|Z)?"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
      </xs:complexType>
   </xs:element>                
</xs:schema>