iof/light.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    elementFormDefault="qualified"
    xmlns:iaiext="http://www.iai-shop.com/developers/iof/extensions.phtml"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://www.iai-shop.com/developers/iof/extensions.phtml" schemaLocation="http://www.idosell.com/developers/iof/extensions.xsd"/>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.idosell.com/developers/iof/xml.xsd"/>
    <xs:element name="offer">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" ref="products"/>
            </xs:sequence>
            <xs:attribute name="file_format" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="IOF"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="version" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:enumeration value="3.0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="generated" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]{4}[\-|\.][0-9]{2}[\-|\.][0-9]{2}[T| ]?[0-9]{2}:[0-9]{2}:[0-9]{2})((\+[0-9]{2}:[0-9]{2})|Z)?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="expires" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="([0-9]{4}[\-|\.][0-9]{2}[\-|\.][0-9]{2}[T| ]?[0-9]{2}:[0-9]{2}:[0-9]{2})((\+[0-9]{2}:[0-9]{2})|Z)?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="generated_by" use="optional"/>
            <xs:attribute name="extensions" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="yes"/>
                        <xs:enumeration value="no"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="products">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="product"/>
            </xs:sequence>
            <xs:attribute name="currency" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:pattern value="[A-Z]{3,3}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="language" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:pattern value="[a-z]{3,3}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="product">
        <xs:complexType>
            <xs:sequence>
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" ref="price"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="srp"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="strikethrough_retail_price"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="strikethrough_wholesale_price"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="sizes"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="id" type="xs:integer" use="required"/>
            <xs:attribute name="vat" type="xs:decimal" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="sizes">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="size"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="size">
        <xs:complexType>
            <xs:sequence>
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="0" ref="price"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="srp"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="strikethrough_retail_price"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="strikethrough_wholesale_price"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="stock"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="optional"/>
            <xs:attribute name="name" type="xs:string" use="optional"/>
            <xs:attribute name="panel_name" type="xs:string" use="optional"/>
            <xs:attribute name="code" type="xs:NMTOKEN" use="optional"/>
            <xs:attribute name="code_producer" type="xs:string" use="optional"/>
            <xs:attribute ref="iaiext:code_external" use="optional"/>
            <xs:attribute name="code_external" type="xs:string" use="optional"/>
            <xs:attribute name="weight" type="xs:float" use="optional"/>
            <xs:attribute ref="iaiext:weight_net" use="optional"/>
            <xs:attribute ref="iaiext:min_weight" use="optional"/>
            <xs:attribute ref="iaiext:max_weight" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="stock">
        <xs:complexType>
            <xs:attribute name="id" type="xs:integer" use="required"/>
            <xs:attribute name="quantity" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:float">
                        <xs:pattern value="(-1(.[0]+)?)|(\d+([\.,]\d+)?)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="price">
        <xs:complexType>
            <xs:attribute name="gross" type="xs:decimal" use="optional"/>
            <xs:attribute name="net" type="xs:decimal" use="optional"/>
            <xs:attribute name="vat" type="xs:decimal" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="srp">
        <xs:complexType>
            <xs:attribute name="gross" type="xs:decimal" use="optional"/>
            <xs:attribute name="net" type="xs:decimal" use="required"/>
            <xs:attribute name="vat" type="xs:decimal" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="strikethrough_retail_price">
        <xs:complexType>
            <xs:attribute name="gross" type="xs:decimal" use="optional"/>
            <xs:attribute name="net" type="xs:decimal" use="required"/>
            <xs:attribute name="vat" type="xs:decimal" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="strikethrough_wholesale_price">
        <xs:complexType>
            <xs:attribute name="gross" type="xs:decimal" use="optional"/>
            <xs:attribute name="net" type="xs:decimal" use="required"/>
            <xs:attribute name="vat" type="xs:decimal" use="optional"/>
        </xs:complexType>
    </xs:element>
</xs:schema>